{% extends 'dashboard/admin/base.html' %}

{% load static %}

{% block body %}
<div id="content-wrapper" class="d-flex justify-content-center align-items-center"
    style="min-height: 100vh; background-color: #f8f9fa;">
    <div class="container">
        <!-- Breadcrumbs-->
        <div class="card mb-3" style="max-width: 600px; margin: auto;">
            <button class="btn btn-success mb-3" onclick="window.location.href='{% url 'allusers' %}'"
                style="background-color: #0f5132;">Back</button>
            <div class="card-header" style="background-color: #0f5132; color: white;">
                <i class="fas fa-table"></i>
                Add New User To The System
            </div>
            <div class="card-body">
                <form class="form-horizontal" action="{% url 'create_user' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="text" class="form-control" name="first_name" placeholder="First Name"
                                        id="inputFirst" required>
                                    <label for="inputFirst">First Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="text" class="form-control" name="last_name" placeholder="Last Name"
                                        id="inputLast" required>
                                    <label for="inputLast">Last Name</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="text" class="form-control" name="username" placeholder="Username"
                                        id="inputUsername" required>
                                    <label for="inputUsername">Username</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="email" class="form-control" name="email" placeholder="Email"
                                        id="inputEmail" required>
                                    <label for="inputEmail">Email</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="password" class="form-control" name="password" placeholder="Password"
                                        id="inputPassword" required>
                                    <label for="inputPassword">Password</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-block"
                            style="background-color: #0f5132; color: white;">Submit Now</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Promotion to Admin Section -->
        <div class="card mb-3" style="max-width: 600px; margin: auto;">
            <div class="card-header bg-warning text-white">
                <i class="fas fa-user-shield"></i>
                Promote Existing User to Admin
            </div>
            <div class="card-body">
                <form class="form-horizontal" action="{% url 'makeadmin' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="userSelect">Select User:</label>
                        <select class="form-control" id="userSelect" name="user_id" required>
                            <option value="" disabled selected>Select User</option>
                            {% for user in users %}
                            {% if not user.is_admin %}
                            <option value="{{ user.id }}">{{ user.username }}</option>
                            {% endif %}
                            {% endfor %}

                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-warning btn-block">Promote to Admin</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}